* {
    margin: 0;
}

:root {
    --font-family: "Roboto", sans-serif;
    --color-button-main-footer: #34547A;
    --color-paragragh: #727272;

}
body {
    max-width: 1920px;
    max-height: 2464px;
}
header {
    height: 700px;
    padding-left: 399px;
}
.conteiner-menu {
    width: 611px;
    height: 16px;
    margin-top: 79px;

}

.menu-list {
    display: flex;
    font-family: var(--font-family);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    justify-content: space-between;
    padding-left: 0px;
}

ul {
    list-style: none;
}

li:hover {
    color: var(--color-button-main-footer);
}

h1 {
    font-family: var(--font-family);
    font-weight: 500px;
    font-size: 48px;
    /* margin-left: 399px; */
    padding-top: 162px;

}

.parag-header {
    font-family: var(--font-family);
    color: var(--color-paragragh);
    font-weight: 400;
    font-size: 16px;
    width: 540px;
    height: 67px;
    /* margin-left: 399px; */
    padding-top: 60px;
    padding-left: 1px;

}

button {
    width: 255px;
    height: 65px;
    font-family: var(--font-family);
    background-color: var(--color-button-main-footer);
    margin-top: 65px;
    /* margin-left: 399px; */
    margin-bottom: 141px;
    text-align: center;
    color: #fff;
    padding: 19px 41px 20px 41px;
    border: none;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.1em;
}

.conteiner-main {
    text-align: center;
    margin: auto;
    width: 540px;
    height: 147px;
    background-color: #fff;
}

h2 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 32px;
}

.parag-main {
    font-family: var(--font-family);
    color: var(--color-paragragh);
    font-weight: 400;
    font-size: 16px;
    padding-top: 50px;
}

.conteiner-main-list {
    background-color: var(--color-button-main-footer);
    display: flex;
    justify-content: center;
    gap: 49px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 100px;
    margin-bottom: 100px;


}      

.conteiner-video-youtube {
    display: flex;
    max-width: 1110px;
    height: 600px;
    margin: auto;
    padding-top: 57px;
    position: relative;
    padding-bottom: 5%;
}

.conteiner-video-youtube-button {
    position: absolute;
    top: 40%;
    right: 45%;

}

.conteiner-footer {
    background-color: var(--color-button-main-footer);
    height: 151px;
    margin: auto;
    padding-left: 406px;


}

.conteiner-footer-parag {
    font-family: var(--font-family);
    padding-top: 50px;
    padding-bottom: 20px;
    font-weight: 500;
    font-size: 21px;
    color: #fff;
}

.conteiner-footer-parag-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    color: #fff;

}
@media (max-width: 1200px) {
    .header {
        height: 40%;
        padding-left: 2%;
    }
    nav {
        width: 90%;
        margin-left: 10%;
    }
       
    .conteiner-menu {
        margin-top: 5%;
        width: 90%;
        font-size: 90%;
       
    }
    .menu-list {
        justify-content: center;
        gap: 5%;
        font-weight: bold;

    }
    .section-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100% ;
    }
    h1 {
       font-size: 3em;
       text-align: center;
       
    }
     .parag-header {
        font-size: 1em;
        text-align: center;
    }
    button {
        width: 30%;
        height: 20%;
       
    }

    .conteiner-main {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
      margin-left: 10%;
      margin-right: 15%;
    }

    .parag-main {
        width: 80%;
    }
    div.conteiner-main-list {
        flex-wrap: wrap;
        width: 100%;
        column-gap: 20%;
        padding-top: 5%;
        padding-bottom: 5%;
        
    }
    .conteiner-video-youtube {
        margin-left: 15%;
        height: 100%;
    }
    div.conteiner-video-youtube img {
        width: 80%;
        height: 80%;
    }
    div.conteiner-video-youtube-button {
        right: 53%;
        top: 45%
    }

    div.conteiner-video-youtube-button img {
        width: 50%;
      
    }
    .conteiner-footer {
        padding-left: 15%;
    }

}
@media (max-width: 768px) {
    div.conteiner-main-list {
      column-gap: 10%;
    }
    div.conteiner-main-list img {
       width: 18%;
       
    }
     div.conteiner-video-youtube-button {
        right: 48%;
        top: 47%
    }

    div.conteiner-video-youtube-button img {
        width: 40%;
      
    }


}


@media (max-width: 375px) {
   
    .menu-list {
        flex-direction: column;
        font-size: 100%;
       
       
    }
    li {
        padding: 2%;
        list-style: square;

    }
   
    h1 {
       font-size: 2em;
       
    }
    p.parag-header {
        width: 80%;
    }
    button {
        width: 40%;
        height: 20%;
        font-size: 80%;
    }
    div.conteiner-main {
        margin-bottom: 5%;
    }
    div.conteiner-main-list img {
        width: 30%;

    }
    div.conteiner-video-youtube {
        margin-left: 10%;
    }
    div.conteiner-video-youtube img {
        width: 90%;
        
    }
    div.conteiner-video-youtube-button {
        right: 31%;
        top: 51%;
    }
    div.conteiner-video-youtube-button img {
        width: 30%;
       
    }
    .conteiner-footer {
        height: 50%;
        
    }
    div.conteiner-footer p {
        font-size: 80%;
    }
    p.conteiner-footer-parag {
        padding-top: 10%;
    }
     p.conteiner-footer-parag-text {
        padding-bottom: 5%;

     }

     
}